header{
    display:flex;
    justify-content: flex-end;
    background-color: black;
    height:50px;
    width:auto;

}

nav{
    display:flex;
    justify-content: space-around;
}

a{
    color:red;
}

.button1{
    
}